
/* ELEMENTS */

a {
    text-decoration: none;
}

.animate__animated.animate__pulse {
    --animate-duration: 1s;
  }

/* BEGIN HEADER */
body {
    background-color: #FFFFFF;
    color: black;
    font-family: "Darker Grotesque", sans-serif;
    text-align: center;
    font-size: 1.5em;
}
  
h1 {
    font-size: 3em;
}
  
body ul.menu {
    padding: 0;
    font-size: 1em;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    /* ***code taken from: https://codepen.io/AdamCCFC/pen/WvzBKq*** */
}
  
body ul.menu li.social-item {
    display: inline-block;
    width: 1.2em;
    color: #F13B84;
}
  
body ul.menu li.social-item:hover{
    transition: all 0.2s ease-in-out;
}
  
body ul.menu li.social-item:hover {
    transform: scale(1.5);
}

div.logo-container {
    margin-bottom: -550px;
}

.logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}


.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: #D3AB9E;
    transition: all 0.3s ease-in-out;
}

.link:hover {
    color:#2B1A12;
    transform: scale(1.1);
}

.link::selected {
    color: #F13B84;
    text-decoration: underline;
}

hr {
    padding: 20px 0 20px 0;
}

i.link {
    color: #F13B84;
    transition: all 0.3s ease-in-out;
}

i.link:hover {
    color:#d1a3a4;
    transform: scale(1.1);
}

i.link:selected {
    color:#a1665e;
    text-decoration: underline;

}

/* ***code taken from: https://codepen.io/AdamCCFC/pen/WvzBKq*** */

li.social-item i {
    width: 1.2em;
    &.grow {
        transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.5);
    }
    }

}
/* 
*****end of reference***** */


/* BEGIN CONTENT */

.container.this-months-post {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    padding: 50px 0 50px 0;
}

.this-months-img {
    width: 600px;
    padding-bottom: 100px;
}

.container.blog-posts {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.sub-heading {
    padding: 40px 0 40px;
}

.summary {
    display: flex;
}

.preview-container {
    border:1px solid #a1665e;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-4 {
    width: 200px;
    height: 200px;
    margin: 0 10px 0 10px;
}

.all-post-labels {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content:center;
}

.blog-month {
    font-family: "Rajdhani";
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 20px 10px 10px 10px;
}

.blog-month:hover {
    color: #a1665e;
}

.blog-month:selected {
    color: #F13B84;
    text-decoration: underline;
}

.post-month-1 {
    background-color: #c58c85;
}

.post-month-2 {
    background-color: #ecbcb4;
}

.post-month-3 {
    background-color: #d1a3a4;
}

.post-month-4 {
    background-color: #a1665e;
}

.post-month-5 {
    background-color: #592f2a;
}

.post-month-6 {
    background-color: #5a362a;
}

.post-month-7 {
    background-color: #a87869;
}

.post-month-8 {
    background-color: #bf8977;
}

.post-month-9 {
    background-color: #c69d87;
}

.post-month-10 {
    background-color: #3d0c02;
}

.post-month-11 {
    background-color: #260701;
}

.post-month-12 {
    background-color: #c58c85;
}

.empty {
    height: 5px;
    border: none;
}

.img-small {
    width: 300px;
    height: 300px;
}

.empty {
    height: 100px;
}

.coming {
    padding-top: 50%;
}


/* FOOTER BEGINS */
.footer box {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  .copyright {
    text-align: center;
    font-size: 14px;
  }
  
  .copyright-box {
    display: flex;
    align-items: center;
    padding: 20px 200px;
    justify-content: center;
    margin-top: 700px;
  }


/* font-family: 'Agdasima', sans-serif;
font-family: 'Chathura', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Forum', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Shalimar', cursive;
font-family: 'Thasadith', sans-serif;
font-family: 'Tsukimi Rounded', sans-serif;
font-family: 'Wire One', sans-serif;
font-family: 'Zen Kurenaido', sans-serif; */



/* 
@media(min-width: 600px) and (max-width: 900px) {
    


}






@media(min-width: 900px) {
   
        
    
}  */