body {
    background-color: #FFFFFF;
    color: black;
    font-family: "Darker Grotesque", sans-serif;
    text-align: center;
    font-size: 1.2em;
} 
  
.hero {
    width: 100%;
}
  
body ul.menu {
    padding: 0;
    font-size: 1em;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    /* ***code taken from: https://codepen.io/AdamCCFC/pen/WvzBKq*** */
}
  
body ul.menu li.social-item {
    display: inline-block;
    width: 1.2em;
    color: #F13B84;
}
  
body ul.menu li.social-item:hover{
    transition: all 0.2s ease-in-out;
}
  
body ul.menu li.social-item:hover {
    transform: scale(1.5);
}
  
div.logo-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
  
.logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
    
.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}
  
.link {
    color: #D3AB9E;
    transition: all 0.3s ease-in-out;
}
  
.link:hover {
    color:#a1665e;
    transform: scale(1.1);
}
  
.link::selected {
    color: #F13B84;
    text-decoration: underline;
}

.social-item {
    color: #F13B84;
    transition: all 0.3s ease-in-out;
}

.social-item:hover {
    color:#a1665e;
    transform: scale(1.1);
}

.social-item::selected {
    color: #D3AB9E;
    text-decoration: underline;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

hr {
    padding: 20px 0 20px 0;
}
    
.logo-img {
    width: 100%;
}
  
.navbar {
    flex-direction: column;
    box-shadow: none;
}
  
.navbar .navbar-nav {
    margin-top: 0.5em;
}

.navbar-expand .navbar-nav {
    justify-content: space-evenly;;
}
  
.nav-logo {
    width: 100%;
    padding: 5% 10% 0 10%;
} 
    
/* ***code taken from: https://codepen.io/AdamCCFC/pen/WvzBKq*** */
  
li.social-item i {
    width: 1.2em;
    &.grow {
        transition: all .2s ease-in-out;
  
    &:hover {
        transform: scale(1.5);
    }
    }
}

.month-title {
    color: #F13B84;
}
  
/* *****end of reference******/

.march_hero {
    background-image: url(https://i.ibb.co/mh3h71j/marchsqpost.png);
    width: 500px;
    background-size: contain;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

h1 {
    font-family: Forum;
    text-align: center;
    font-size: 24px;
}
  
h2,
h3,
h4 {
    text-align: center;
    font-family: Forum;
    font-weight: bold;
    padding-top: 3%;
}

p {
    padding: 2% 5%;
}

.march-side {
    padding: 5%;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    margin: o auto;
}

i {
    color: #F13B84;
    font-size: 50px;
}

.color-topic {
    color: #F13B84;
    font-family:"Dancing Script"
}

.main-img {
    width: 500px;
}

.topic {
    font-size: 24px;
    font-weight: bold;
}

.question-topic {
    font-size: 22px;
    color: #F13B84;
    font-weight: bold;
}

.footer box {
    display: grid;
    align-items: center;
    justify-content: center;
}
  
.copyright {
    text-align: center;
    font-size: 14px;
}
  
.copyright-box {
    display: flex;
    align-items: center;
    padding: 20px 200px;
    justify-content: center;
    margin-top: 700px;
}
  
  
@media(min-width: 200px) and (max-width: 400px) {
    .main-content-small-screen {
        display: block;
    }

    .main-content-lg-screens {
        display: none;
    }


    .navbar .navbar-nav {
        font-size: 14px;
    }
    
      div.logo-img {
        width: 100%;
    }
    
      img.nav-logo {
        width: 100%
    }

    h1 {
        font-family: Forum;
        font-size: 24px;
        text-align: center;
      }
    
      h2,
      h3,
      h4 {
        text-align: center;
        font-family: Forum;
        font-weight: bold;
        padding-top: 10%;
      }
    
      p {
        padding: 2% 5%;
      }

      .main-img {
        width: 80%;
      }
      
    
    
}

@media(min-width: 401px) and (max-width: 800px) {
    .main-content-small-screen {
        display: block;
    }

    .main-content-lg-screens {
        display: none;
    }

    .main-content {
        width: 70%;
        padding: 10%;
    }

    .main-img {
        width: 70%;
    }

    .nav-logo {
        width: 80%;
    }

    .navbar .navbar-nav {
        font-size: 18px;
    }

    h1 {
        font-family: Forum;
        text-align: center;
        font-size: 24px;
    }
      
    h2,
    h3,
    h4 {
        text-align: center;
        font-family: Forum;
        font-weight: bold;
        padding-top: 3%;
    }
    
    p {
        padding: 2% 5%;
        font-size: 1rem;
         margin: 5%;
    }

    .side-resources {
        padding: 2% 5%;
        font-size: 1rem;
         margin: 7%;
    }

    
}

@media(min-width: 801px) and (max-width: 979px) {
    .main-content-small-screens {
        display: block;
    }

    .main-content-lg-screens {
        display: none;
    }


    .navbar .navbar-nav {
        font-size: 20px;
    }

    .main-content {
        width: 70%;
        padding: 10%;
    }

    .main-img {
        width: 70%;
    }

    .nav-logo {
        width: 80%;
    }

    .inside-content-container {
        width: fit-content;
    }

    h1 {
        font-family: Forum;
        text-align: center;
        font-size: 24px;
    }
      
    h2,
    h3,
    h4 {
        text-align: center;
        font-family: Forum;
        font-weight: bold;
        padding-top: 3%;
    }
    
    p {
        padding: 2% 5%;
        font-size: 1rem;
         margin: 5%;
    }


}

@media(min-width: 980px) and (max-width: 1201px) {

    .march-hero {
        margin: 0 auto;
        height: 600px;
    }
    .main-content-small-screens {
        display: none;
    }

    .main-content-lg-screens {
        display: block;
    } 

    .main-content {
        width: 80%;
        padding: 10%;
    }

    .main-img {
        width: 75%;
    }

    .nav-logo {
        width: 80%;
    }

    .inside-content-container {
        width: fit-content;
    }

    h1 {
        font-family: Forum;
        text-align: center;
        padding: 5%;
    }
      
    h2,
    h3,
    h4 {
        text-align: center;
        font-family: Forum;
        font-weight: bold;
        padding-top: 3%;
        margin: 5%;
    }
    
    p {
        padding: 2%;
        font-size: 22px;
    }

    .main-content-left {
        font-size: 22px;
        padding: 2%;
    }

    .lorem-ipsum {
        padding: 5%;
    }

    .march-side {
        padding: 2%;
        width: 25%;
        margin-left: 8%;
        border: 1px solid black;
        margin-top: 3%;
    }

    .generic-ul {
        text-align: left;
        margin-left: -3%;
    }

}

@media(min-width: 1201px) {
    .main-content-small-screens {
        display: none;
    }

    .main-content-lg-screens {
        display: block;
    }

    .march_hero {
        height: 800px;
    }

    .main-content {
        width: 80%;
        padding: 10%;
    }

    .main-img {
        width: 75%;
    }

    .nav-logo {
        width: 80%;
    }

    .inside-content-container {
        width: fit-content;
    }

    h1 {
        font-family: Forum;
        text-align: center;
        font-size: 28px;
        padding: 5%;
    }
      
    h2,
    h3,
    h4 {
        text-align: center;
        font-family: Forum;
        font-weight: bold;
        padding-top: 3%;
        margin: 5%;
    }
    
    p {
        padding: 2%;
        font-size: 22px;
    }

    .main-content-left {
        font-size: 22px;
        padding: 2%;
    }

    .lorem-ipsum {
        padding: 5%;
    }

    .march-side {
        padding: 2%;
        width: 25%;
        margin-left: 8%;
        border: 1px solid black;
        margin-top: 3%;
    }

    .generic-ul {
        text-align: left;
        margin-left: -3%;
    }



}

