
  /* BEGIN HEADER */

body {
    background-color: #FFFFFF;
    color: black;
    font-family: "Darker Grotesque", sans-serif;
    text-align: center;
    font-size: 1.5em;
}
  
body ul.menu {
    padding: 0;
    font-size: 1em;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    /* ***code taken from: https://codepen.io/AdamCCFC/pen/WvzBKq*** */
}
  
body ul.menu li.social-item {
    display: inline-block;
    width: 1.2em;
    color: #F13B84;
}
  
body ul.menu li.social-item:hover{
    transition: all 0.2s ease-in-out;
}
  
body ul.menu li.social-item:hover {
    transform: scale(1.5);
} 

div.logo-container {
    margin-bottom: -550px;
}

.logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: #D3AB9E;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.link:hover {
    color:#2B1A12;
    transform: scale(1.1);
}

.link:selected {
    color: #DBA395;
    text-decoration: underline;
}


/* ***code taken from: https://codepen.io/AdamCCFC/pen/WvzBKq*** */

li.social-item i {
    width: 1.2em;
    &.grow {
        transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.5);
    }
    }

}
/* 
*****end of reference***** */

  hr.menu {
    padding: 0;
  }

/* BEGIN CONTENT */

.row {
    padding-top: 30px;
    padding-bottom: 30px;
}

.jan_hero {
    background-image: url(https://i.ibb.co/k86sJGV/jan-colorcodeddev-com.png);
    width: 500px;
    background-size: cover;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 80px;
    border: 1px solid #503335;
}

.feb_hero {
    background-image: url(https://i.ibb.co/MMW0LWT/feb.png);
    width: 500px;
    background-size: cover;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 80px;
    border: 1px solid #503335;
}

.march_hero {
    background-image: url(https://i.ibb.co/mh3h71j/marchsqpost.png);
    width: 500px;
    background-size: cover;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 80px;
    border: 1px solid #503335;
}

.april_hero {
    background-image: url(https://i.ibb.co/LYcqkRC/April-Blog-Post.png);
    width: 600px;
    background-size: cover;
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 80px;
    border: 1px solid #503335;
}

.may_hero {
    background-image: url(https://i.ibb.co/KrB3M8F/May-Blog-Post.png);
    width: 500px;
    background-size: contain;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 80px;
    border: 1px solid #503335;
}

.june_hero {
    background-image: url(https://i.ibb.co/G7xVgNg/June-Blog-Post.png);
    width: 500px;
    background-size: cover;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 80px;
    border: 1px solid #503335;
}

.july_hero {
    background-image: url(https://i.ibb.co/mqt8ynq/July-final.png);
    width: 500px;
    background-size: cover;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 80px;
    border: 1px solid #503335;
}

h1 {
    font-family: Forum;
    text-align: center;
  }
  
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
    font-family: Forum;
    font-weight: bold;
}

  .topic {
    padding: 1% 10%;
}

.subtopic {
    padding: 1% 10%;
    text-align: left;
    line-height: 1.5em;
}

.footer box {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    padding: 20px 200px;
}
  
.copyright {
    text-align: center;
    font-size: 14px;
}
  
.copyright-box {
    display: flex;
    align-items: center;
    padding: 20px 200px;
    justify-content: center;
    margin: 30% auto;
}

/* january */

.img-1 {
    width: 70%;
    margin: 0 auto;
    padding: 20% auto;
}


.img-2 {
    padding: 5% 0;
    width: 85%;
}

.resources {
    display: flex;
    flex-direction: column;
}

.resources-img {
    width: 200px;
}

.resources-img-2 {
    width: 50px;
}

.side-topic {
    width: 20%;
    margin-left: 10%;
}

.side-topic-border {
    border: 1px solid black;
    padding: 5%;
}

.sm-col {
    text-align: center;
    padding: 2% 5%;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
}

.resource-img {
    padding: 10% 0;
}

.resource-title {
    padding: 10% 5%;
}


/* february */

.nums {
    font-family: Forum;
    font-size: 188px;
}

.feb_hero_1 {
    background-image: url("https://i.ibb.co/LNy99vW/40.png");
}

.feb_hero_2 {
    background-image: url("https://i.ibb.co/pjYv3zb/41.png");
}

.feb_hero_3 {
    background-image: url("https://i.ibb.co/m597RF1/39.png");
}

.feb_hero_1, 
.feb_hero_2, 
.feb_hero_3 {
    background-size: cover;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 20px;
    border: 1px solid #503335;
}

.stats{
    text-align: left;
    list-style: circle;
}


.main-img {
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
}

.last-img {
    width: 100%;
    margin-left: -10%;
}

.follow {
    width: 20%;
    margin-left: 10%;
    flex-wrap: nowrap;
}

.influencer-img {
    width: 150px;
}

.niche {
    font-size: 18px;
    font-style:italic;
}

.side-box {
    border: 1px solid black;
    padding: 10%;
}

/* march */

.mar_hero {
    background-size: cover;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 20px;
    border: 1px solid #503335;
}

.march-side {
    padding: 5%;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    margin: o auto;
}

i {
    color: #F13B84;
}

.color-topic {
    color: #F13B84;
    font-family:"Dancing Script"
}

/* april */

.april_hero {background-size: contain;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 20px;
    border: 1px solid #503335;
}

/* may */

.may-header {
    padding-top: 20%;
}

.side-img-may {
    width: 150px;
    margin: 0 auto;
}

/* june */

span.june_em {
    font-style: italic;
}

/* july */

.july_hero {
    background-size: cover;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 20px;
    border: 1px solid #503335;
}

.july_hero_1 {
    background-image: url(https://i.ibb.co/YQHm0m2/79.png);
}

.july_hero_2 {
    background-image: url(https://i.ibb.co/yhXm7Fw/49.png);
}

.july_hero_3 {
    background-image: url(https://i.ibb.co/kXJTCTp/89.png);
}

.july_hero_1, 
.july_hero_2, 
.july_hero_3 {
    background-size: cover;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 20px;
    border: 1px solid #503335;
}

.group-col {
    width: 90%;
}

.side-img-july {
    width: 150px;
    margin: 0 auto;
}

.position {
    text-decoration: none;
}

/* generic months */

.generictopic {
    padding: 5% 10%;
    font-family: Forum;
}

.generic-subtopic,
.lorem-ipsum {
    padding: 5% 10%;
    text-align: left;
    line-height: 2em;
    text-align: left;
}

.generic-side {
    padding: 3%;
    text-align: center;
    padding: 2% 5%;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
} 

.generic-side-border {
    border: 1px solid black;
    padding: 10%;
}

.generic-img {
    width: 800px;
    margin: auto;
    padding: 30% auto;
}

.generic-ul {
    text-align: left;
    list-style: circle;
}

.generic-i {
    font-size: 55px;
    padding: 20px 0;
}





/* font-family: 'Agdasima', sans-serif;
font-family: 'Chathura', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Forum', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Shalimar', cursive;
font-family: 'Thasadith', sans-serif;
font-family: 'Tsukimi Rounded', sans-serif;
font-family: 'Wire One', sans-serif;
font-family: 'Zen Kurenaido', sans-serif; */




@media(min-width: 600px) and (max-width: 900px) {}



@media(min-width: 900px) {
    
}