body {
    background-color: #FFFFFF;
    color: black;
    font-family: "Darker Grotesque", sans-serif;
    text-align: center;
    font-size: 1.2em;
} 
  
.hero {
    width: 100%;
}
  
body ul.menu {
    padding: 0;
    font-size: 1em;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    /* ***code taken from: https://codepen.io/AdamCCFC/pen/WvzBKq*** */
}
  
body ul.menu li.social-item {
    display: inline-block;
    width: 1.2em;
    color: #F13B84;
}
  
body ul.menu li.social-item:hover{
    transition: all 0.2s ease-in-out;
}
  
body ul.menu li.social-item:hover {
    transform: scale(1.5);
}
  
div.logo-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
  
.logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
    
.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}
  
.link {
    color: #D3AB9E;
    transition: all 0.3s ease-in-out;
}
  
.link:hover {
    color:#a1665e;
    transform: scale(1.1);
}
  
.link::selected {
    color: #F13B84;
    text-decoration: underline;
}

.social-item {
    color: #F13B84;
    transition: all 0.3s ease-in-out;
}

.social-item:hover {
    color:#a1665e;
    transform: scale(1.1);
}

.social-item::selected {
    color: #D3AB9E;
    text-decoration: underline;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

hr {
    padding: 20px 0 20px 0;
}
    
.logo-img {
    width: 100%;
}
  
.navbar {
    flex-direction: column;
    box-shadow: none;
}
  
.navbar .navbar-nav {
    margin-top: 0.5em;
}

.navbar-expand .navbar-nav {
    justify-content: space-evenly;;
}
  
.nav-logo {
    width: 100%;
    padding: 5% 10% 0 10%;
} 
    
/* ***code taken from: https://codepen.io/AdamCCFC/pen/WvzBKq*** */
  
li.social-item i {
    width: 1.2em;
    &.grow {
        transition: all .2s ease-in-out;
  
    &:hover {
        transform: scale(1.5);
    }
    }
}
  
/* *****end of reference******/
  


h1 {
    font-family: Forum;
    text-align: center;
    font-size: 24px;
}
  
h2,
h3,
h4 {
    text-align: center;
    font-family: Forum;
    font-weight: bold;
    padding-top: 3%;
}

p {
    padding: 2% 5%;
}

button {
    border: none;
    background-color: white;
    color: #F13B84;
}

.hero {
    width: 100%;
}

.hero-container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin: 0 auto;
    padding: 5%;
}
  
.div.hero-row{
    flex-direction: row;
}

.hero1,
.hero2,
.hero3 {
    background-size: cover;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 20px;
    border: 1px solid #503335;
}
  
.hero1 {
    background-image: url(https://i.ibb.co/X8X6Jcb/mason-250-pexels-nappy-3063910.png);
}
  
.hero2 {
    background-image: url(https://i.ibb.co/TL6v1tc/mason-250-pexels-tina-bowie-938013.png);
}
  
.hero3 {
    background-image: url(https://i.ibb.co/CVkg6TH/mason-180-pexels-mikhail-nilov-7623822.png);
}

.main-img {
    width: 700px;
    padding: 50px;
}

span.month {
    float: left;
    font-size: 18px;
    padding-left: 10%;
    padding-bottom: 10%;
}
  
span.views {
    float: right;
    font-size: 18px;
    padding-right: 10%;
    padding-bottom: 10%
}

.flip-card-recent {
    background-color: transparent;
    width: 200px;
    height: 200px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
}
  
.flip-card-back {
    transform: rotateY(180deg);
}
  
.flip-back {
    color: #3d0c02;
    font-family: Chathura;
    font-weight: bold;
    font-size: 24px;
    padding: 10% 10% 10% 10%;
}
  

.footer box {
    display: grid;
    align-items: center;
    justify-content: center;
}
  
.copyright {
    text-align: center;
    font-size: 14px;
}
  
.copyright-box {
    display: flex;
    align-items: center;
    padding: 20px 200px;
    justify-content: center;
    margin-top: 700px;
}
  
  
@media(min-width: 200px) and (max-width: 400px) {
    
    .navbar .navbar-nav {
        font-size: 14px;
    }
    
    div.logo-img {
        width: 80%;
    }
    
    img.nav-logo {
        width: 100%
    }

    .sm-screen-content {
        display: block;
    }

    .lg-screen-content {
        display: none;
    }

    h1 {
        font-family: Forum;
        font-size: 24px;
        text-align: center;
    }
    
    h2,
    h3,
    h4 {
        text-align: center;
        font-family: Forum;
        font-weight: bold;
        padding: 10%;
    }
    
    p {
        padding: 2% 10%;
    }

    div.hero-row {
        display: flex;
        flex-direction: column;
        height: 1200px;
    }

    div.hero1,
    div.hero2,
    div.hero3 {
        width: 70%;
        height: 300px;
        margin: 0 auto;
    }

    div.single-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .main-img {
        width: 300px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 5%;
    }

    img.post-img {
        width: 90%;
    }

    .flip-card{
        width: 100%;
        height: 400px;
    }

    span.month {
        float: left;
        font-size: 18px;
        padding-left: 10%;
        padding-bottom: 10%;
    }
      
    span.views {
        float: right;
        font-size: 18px;
        padding-right: 10%;
        padding-bottom: 10%
    }
    
    .flip-card-recent {
        background-color: transparent;
        width: 200px;
        height: 200px;
    }
      
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
      
    .flip-card:hover 
    .flip-card-inner {
        transform: rotateY(180deg);
    }
      
    .flip-card-front, 
    .flip-card-back {
        position: absolute;
        width: 100%;
        backface-visibility: hidden;
    }
      
    .flip-card-back {
        transform: rotateY(180deg);
    }
      
    .flip-back {
        color: #3d0c02;
        font-family: Chathura;
        font-weight: bold;
        font-size: 24px;
        padding: 10% 10% 10% 10%;
    }
    

    .recent-posts {
        display: flex;
        flex-direction: column;
        color: black;
        margin: 5%;
        height: 1200px;
    }    
    
    .copyright {
        padding: 10%;;
    }
}

@media(min-width: 401px) and (max-width: 800px) {
    
    .navbar .navbar-nav {
        font-size: 18px;
    }

    .sm-screen-content {
        display: block;
    }

    .lg-screen-content {
        display: none;
    }

    div.logo-img {
        width: 80%;
    }
    
    img.nav-logo {
        width: 100%
    }

    h1 {
        font-family: Forum;
        font-size: 24px;
        text-align: center;
    }
    
    h2,
    h3,
    h4 {
        text-align: center;
        font-family: Forum;
        font-weight: bold;
        padding: 10%;
    }
    
    p {
        padding: 2% 10%;
    }

    div.hero-row {
        display: flex;
        flex-direction: column;
        height: 1200px;
    }

    div.hero1,
    div.hero2,
    div.hero3 {
        width: 70%;
        height: 300px;
        margin: 0 auto;
    }

    div.single-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .main-img {
        width: 70%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 5%;
    }

    img.post-img {
        width: 70%;
    }

    .flip-card{
        width: 100%;
        height: 400px;
    }

    span.month {
        float: left;
        font-size: 18px;
        padding-left: 10%;
        padding-bottom: 10%;
    }
      
    span.views {
        float: right;
        font-size: 18px;
        padding-right: 10%;
        padding-bottom: 10%
    }
    
    .flip-card-recent {
        background-color: transparent;
        width: 200px;
        height: 200px;
    }
      
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
      
    .flip-card:hover 
    .flip-card-inner {
        transform: rotateY(180deg);
    }
      
    .flip-card-front, 
    .flip-card-back {
        position: absolute;
        width: 100%;
        backface-visibility: hidden;
    }
      
    .flip-card-back {
        transform: rotateY(180deg);
    }
      
    .flip-back {
        color: #3d0c02;
        font-family: Chathura;
        font-weight: bold;
        font-size: 24px;
        padding: 10% 10% 10% 10%;
    }
    

    .recent-posts {
        display: flex;
        flex-direction: column;
        color: black;
        margin: 5%;
        height: 1200px;
    }    
    
    .copyright {
        padding: 10%;;
    }
    
}

@media(min-width: 801px) and (max-width: 1200px) {
    
    .navbar .navbar-nav {
        font-size: 20px;
    }

    .sm-screen-content {
        display: none;
    }

    .lg-screen-content {
        display: block;
    }

    div.hero-row {
        display: flex;
        flex-direction: row;
    }

    .main-img {
        width: 80%;
    }

    .flip-card-recent {
        width: 100%;
        height: 300px;
    }

    .more-posts {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: black;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    div.flip-card.flip-card-all {
        width: 200x;
        height: 200px;
        color: white;
    }

    .post-month {
        color: white;
        padding: 10px 0;
        margin-top: 20px;
    }

    .monthly-title {
        color: white;
        padding: 10px 0;
    }

    h3.side-heading {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .flip-card-front-all-posts{
        color: white;
    }

    .posts {
        width: 200px;
        height: 200px;
    }
      
    .post-month {
        font-weight: bold;
        border: 1px solid white;
        padding: 5%;
        font-family: Forum;
    }
      
    .monthly-title {
        padding: 5%
    }
      
    .january {
        background-color: #c58c85;
        text-decoration: none;
    }
      
    .february {
        background-color: #ecbcb4;
        text-decoration: none;
    }
      
    .march {
        background-color: #d1a3a4;
        text-decoration: none;
    }
      
    .april {
        background-color: #a1665e;
        text-decoration: none;
    }
      
    .march {
        background-color: #503335;
        text-decoration: none;
    }
      
    .april {
        background-color: #592f2a;
        text-decoration: none;
    }
      
    .may {
        background-color: #592f2a;
        text-decoration: none;
    }
      
    .june {
        background-color: #5a362a;
        text-decoration: none;
    }
      
    .july {
        background-color: #a87869;
        text-decoration: none;
    }
      
    .august {
        background-color: #bf8977;
        text-decoration: none;
    }
      
    .september {
        background-color: #c69d87;
    }
      
    .october {
        background-color: #3d0c02;
        text-decoration: none;
    }
      
    .november {
        background-color: #260701;
        text-decoration: none;
    }
      
    .december {
        background-color: #c58c85;
        text-decoration: none;
    }
      
    .cat {
        border: 1px solid black;
        padding: 5px;
        width: 200px;
    }
      
    .empty {
        height: 5px;
        border: none;
    }
      
    .sub {
        font-size: 8px;
        padding-left: 10px;
        margin-top: -20px;
    }
      
    em {
        color: black;
        font-size: 10px;
    }
      
    span {
        padding: 0 20px;
    }
      
    h3.side-heading {
        font-family: "Thasadith";
        color: black;
        text-decoration: underline;
    }

}

@media(min-width: 1201px) {

    section.sm-screen-content {
        display: none;
    }

    section.lg-screen-content {
        display: block;
    }

    button {
        border: none;
        background-color: white;
        color: #F13B84;
    }
    
    .hero {
        width: 100%;
    }
    
    .hero-container {
        margin-top: 5%;
        margin-bottom: 5%;
        margin: 0 auto;
        padding: 5%;
    }
      
    .div.hero-row{
        flex-direction: row;
    }
    
    .hero1,
    .hero2,
    .hero3 {
        background-size: cover;
        height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        padding: 10px;
        margin: 20px;
        border: 1px solid #503335;
    }
      
    .hero1 {
        background-image: url("https://i.ibb.co/X8X6Jcb/mason-250-pexels-nappy-3063910.png");
    }
      
    .hero2 {
        background-image: url("https://i.ibb.co/TL6v1tc/mason-250-pexels-tina-bowie-938013.png");
    }
      
    .hero3 {
        background-image: url("https://i.ibb.co/CVkg6TH/mason-180-pexels-mikhail-nilov-7623822.png");
    }
    
    .main-img {
        width: 90%;
    }

    img.post-img {
        width: 300px;
        height: 300px;
    }

    .left-side {
        width: 70%;
    }

    .right-side {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-left: 5%;
        border-left: 1px solid black;
    }
    
    span.month {
        float: left;
        font-size: 18px;
        padding-left: 10%;
        padding-bottom: 10%;
    }
      
    span.views {
        float: right;
        font-size: 18px;
        padding-right: 10%;
        padding-bottom: 10%
    }
    
    .flip-card-recent {
        background-color: transparent;
        width: 300px;
        height: 300px;
    }
      
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
      
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
      
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        backface-visibility: hidden;
    }
      
    .flip-card-back {
        transform: rotateY(180deg);
    }
      
    .flip-back {
        color: #3d0c02;
        font-family: Chathura;
        font-weight: bold;
        font-size: 24px;
        padding: 10% 10% 10% 10%;
    }
    
    .flip-card-recent {
        width: 100%;
        height: 300px;
    }

    .more-posts {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: black;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    div.flip-card.flip-card-all {
        width: 200x;
        height: 200px;
        color: white;
    }

    .post-month {
        color: white;
        padding: 10px 0;
        margin-top: 20px;
    }

    .monthly-title {
        color: white;
        padding: 10px 0;
    }

    h3.side-heading {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .flip-card-front-all-posts{
        color: white;
    }

    img.posts {
        width: 300px;
        height: 300px;
    }
      
    .post-month {
        font-weight: bold;
        border: 1px solid white;
        padding: 5%;
        font-family: Forum;
    }
      
    .monthly-title {
        padding: 5%
    }
      
    .january {
        background-color: #c58c85;
        text-decoration: none;
    }
      
    .february {
        background-color: #ecbcb4;
        text-decoration: none;
    }
      
    .march {
        background-color: #d1a3a4;
        text-decoration: none;
    }
      
    .april {
        background-color: #a1665e;
        text-decoration: none;
    }
      
    .march {
        background-color: #503335;
        text-decoration: none;
    }
      
    .april {
        background-color: #592f2a;
        text-decoration: none;
    }
      
    .may {
        background-color: #592f2a;
        text-decoration: none;
    }
      
    .june {
        background-color: #5a362a;
        text-decoration: none;
    }
      
    .july {
        background-color: #a87869;
        text-decoration: none;
    }
      
    .august {
        background-color: #bf8977;
        text-decoration: none;
    }
      
    .september {
        background-color: #c69d87;
    }
      
    .october {
        background-color: #3d0c02;
        text-decoration: none;
    }
      
    .november {
        background-color: #260701;
        text-decoration: none;
    }
      
    .december {
        background-color: #c58c85;
        text-decoration: none;
    }
      
    .cat {
        border: 1px solid black;
        padding: 5px;
        width: 200px;
    }
      
    .empty {
        height: 5px;
        border: none;
    }
      
    .sub {
        font-size: 8px;
        padding-left: 10px;
        margin-top: -20px;
    }
      
    em {
        color: black;
        font-size: 10px;
    }
      
    span {
        padding: 0 20px;
    }
      
    h3.side-heading {
        font-family: "Thasadith";
        color: black;
        text-decoration: underline;
    }

}


/* 

body {
    background-color: #FFFFFF;
    color: black;
    font-family: "Darker Grotesque", sans-serif;
    text-align: center;
    font-size: 1.2em;
}

.entire {
    margin-left: 10%;
}


div.logo-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
  


body ul.menu {
    padding: 0;
    font-size: .5em;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    
}
  
body ul.menu li.social-item {
    display: inline-block;
    width: 1.2em;
    color: #F13B84;
}
  
body ul.menu li.social-item:hover{
    transition: all 0.2s ease-in-out;
}
  
body ul.menu li.social-item:hover {
    transform: scale(1.5);
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  

.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}
  
.link {
    color: #D3AB9E;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}
  
.link:hover {
    color:#2B1A12;
    transform: scale(1.1);
}
  
.link::selected {
    color: #F13B84;
    text-decoration: underline;
}

i.link {
    color: #F13B84;
    transition: all 0.3s ease-in-out;
}
  
i.link:hover {
    color:#d1a3a4;
    transform: scale(1.1);
}
  
i.link:selected {
    color:#a1665e;
    text-decoration: underline;  
}
  
.logo-img {
    width: 100%;
}
  
.navbar {
    flex-direction: column;
    box-shadow: none;
}

.nav-logo {
    width: 100%;
    padding: 5% 10% 0 10%;
  }


li.social-item i {
    width: 1.2em;
    &.grow {
        transition: all .2s ease-in-out;
  
    &:hover {
        transform: scale(1.5);
    }
    }
}
 
.hero {
    width: 100%;
}

.hero-container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin: 0 auto;
    padding: 5%;
}
  
.div.hero-row{
    flex-direction: row;
}

.hero1,
.hero2,
.hero3 {
    background-size: cover;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 20px;
    border: 1px solid #503335;
}
  
.hero1 {
    background-image: url(https://i.ibb.co/X8X6Jcb/mason-250-pexels-nappy-3063910.png);
}
  
.hero2 {
    background-image: url(https://i.ibb.co/TL6v1tc/mason-250-pexels-tina-bowie-938013.png);
}
  
.hero3 {
    background-image: url(https://i.ibb.co/CVkg6TH/mason-180-pexels-mikhail-nilov-7623822.png);
}
  

hr {
    padding: 20px 0 20px 0;
}

.blog-hero-img { 
    width: 100%;
  }

button {
    border: none;
    background-color: white;
    color: #F13B84;
}

h1 {
    font-family: Forum;
    font-size: 24px;
    text-align: center;
  }
  
h2,
h3,
h4 {
    text-align: center;
    font-family: Forum;
    font-weight: bold;
    padding-top: 10%;
}
  
p {
    padding: 2% 5%;
}

.main-img {
    width: 700px;
    padding: 50px;
}

span.month {
    float: left;
    font-size: 18px;
    padding-left: 10%;
    padding-bottom: 10%;
}
  
span.views {
    float: right;
    font-size: 18px;
    padding-right: 10%;
    padding-bottom: 10%
}

.flip-card-recent {
    background-color: transparent;
    width: 200px;
    height: 200px;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
}
  
  .flip-card-back {
    transform: rotateY(180deg);
}
  
  .flip-back {
    color: #3d0c02;
    font-family: Chathura;
    font-weight: bold;
    font-size: 24px;
    padding: 10% 10% 10% 10%;
    border: 1px solid black;
}
  
.footer box {
    display: grid;
    align-items: center;
    justify-content: center;
}
  
.copyright {
    text-align: center;
    font-size: 14px;
}
  
.copyright-box {
    display: flex;
    align-items: center;
    padding: 20px 200px;
    justify-content: center;
    margin-top: 700px;
}
  
  
@media(min-width: 200px) {
    .container-small-screen-content {
        display: block;
    }

    .container-lg-screen-content {
        display: none;
    }
    
    .logo {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .menu {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 12px;
    }

    div.hero-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.hero1,
    div.hero2,
    div.hero3 {
        width: 90%;
        margin: 2% 0 2% 5%;
    }

    .copyright {
        text-align: center;
        font-size: 12px;
    }

    div.nested-header {
        margin-left: 3%;
    }

    div.logo-container {
        margin-left: 3%;
    }

    hr.menu {
        padding: 0;
    }

    div.single-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .main-img {
        width: 450px;
        align-items: center;
        justify-content: center;
        margin-left: 6%;
    }

    p {
        padding: 0 10%;
    }

    h1,
    h2,
    h3,
    h4 {
        padding: 0 15%;
    }

    img.post-img {
        width: 90%;
    }

    .flip-card{
        width: 100%;
    }

    .recent-posts {
        border: 1px solid #d1a3a4;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: black;
        margin: 5%;
    }

      div.single-col-recent-posts {
        margin-left: 4%;
    }

      
}

@media(min-width: 575px) {

    .div.hero-row{
            flex-direction: row;
    }

    div.main {
        display: none;
    }

    img.post-img {
        width: 100%;
    }
}

@media(min-width: 755px) {
    div.single-col {
        display: none;
    }

    div.main {
        display: block;
    }

    div.hero-row {
        flex-direction: row;
    }

    .main-img {
        width: 100%;
    }

    .flip-card-recent {
        width: 100%;
        height: 300px;
    }

    .all-posts {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: black;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    div.flip-card.flip-card-all {
        width: 200x;
        height: 200px;
        color: white;
    }

    .post-month {
        color: white;
        padding: 10px 0;
        margin-top: 20px;
    }

    .monthly-title {
        color: white;
        padding: 10px 0;
    }

    h3.side-heading {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .flip-card-front-all-posts{
        color: white;
    }

    .posts {
        width: 200px;
        height: 200px;
    }
      
    .post-month {
        font-weight: bold;
        border: 1px solid white;
        padding: 5%;
        font-family: Forum;
    }
      
    .monthly-title {
        padding: 5%
    }
      
    .january {
        background-color: #c58c85;
        text-decoration: none;
    }
      
    .february {
        background-color: #ecbcb4;
        text-decoration: none;
    }
      
    .march {
        background-color: #d1a3a4;
        text-decoration: none;
    }
      
    .april {
        background-color: #a1665e;
        text-decoration: none;
    }
      
    .march {
        background-color: #503335;
        text-decoration: none;
    }
      
    .april {
        background-color: #592f2a;
        text-decoration: none;
    }
      
    .may {
        background-color: #592f2a;
        text-decoration: none;
    }
      
    .june {
        background-color: #5a362a;
        text-decoration: none;
    }
      
    .july {
        background-color: #a87869;
        text-decoration: none;
    }
      
    .august {
        background-color: #bf8977;
        text-decoration: none;
    }
      
    .september {
        background-color: #c69d87;
    }
      
    .october {
        background-color: #3d0c02;
        text-decoration: none;
    }
      
    .november {
        background-color: #260701;
        text-decoration: none;
    }
      
    .december {
        background-color: #c58c85;
        text-decoration: none;
    }
      
    .cat {
        border: 1px solid black;
        padding: 5px;
        width: 200px;
    }
      
    .empty {
        height: 5px;
        border: none;
    }
      
    .sub {
        font-size: 8px;
        padding-left: 10px;
        margin-top: -20px;
    }
      
    em {
        color: black;
        font-size: 10px;
    }
      
    span {
        padding: 0 20px;
    }
      
    h3.side-heading {
        font-family: "Thasadith";
        color: black;
        text-decoration: underline;
    }
      

} */

