body {
    background-color: #FFFFFF;
    color: black;
    font-family: "Darker Grotesque", sans-serif;
    text-align: center;
    font-size: 1.2em;
} 

header {
    width: 100%;
}
  
.hero {
    width: 100%;
}
  
body ul.menu {
    padding: 0;
    font-size: 1em;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    /* ***code taken from: https://codepen.io/AdamCCFC/pen/WvzBKq*** */
}
  
body ul.menu li.social-item {
    display: inline-block;
    width: 1.2em;
    color: #F13B84;
}
  
body ul.menu li.social-item:hover{
    transition: all 0.2s ease-in-out;
}
  
body ul.menu li.social-item:hover {
    transform: scale(1.5);
}
  
div.logo-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
  
.logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
    
.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}
  
.link {
    color: #D3AB9E;
    transition: all 0.3s ease-in-out;
}
  
.link:hover {
    color:#a1665e;
    transform: scale(1.1);
}
  
.link::selected {
    color: #F13B84;
    text-decoration: underline;
}

.social-item {
    color: #F13B84;
    transition: all 0.3s ease-in-out;
}

.social-item:hover {
    color:#a1665e;
    transform: scale(1.1);
}

.social-item::selected {
    color: #D3AB9E;
    text-decoration: underline;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

hr {
    padding: 20px 0 20px 0;
}
    
.logo-img {
    width: 100%;
}
  
.navbar {
    flex-direction: column;
    box-shadow: none;
}
  
.navbar .navbar-nav {
    margin-top: 0.5em;
}

.navbar-expand .navbar-nav {
    justify-content: space-evenly;;
}
  
.nav-logo {
    width: 100%;
    padding: 5% 10% 0 10%;
} 
    
.hero {
    width: 800px;
    height: 900px;
}

.hero-row {
    display: flex;
    width: 800px;
    flex-direction: row;
}
/* ***code taken from: https://codepen.io/AdamCCFC/pen/WvzBKq*** */
  
li.social-item i {
    width: 1.2em;
    &.grow {
        transition: all .2s ease-in-out;
  
    &:hover {
        transform: scale(1.5);
    }
    }
}
  
/* *****end of reference******/
  


h1 {
    font-family: Forum;
    text-align: center;
    font-size: 24px;
}
  
h2,
h3,
h4 {
    text-align: center;
    font-family: Forum;
    font-weight: bold;
    padding-top: 3%;
}

p {
    padding: 2% 5%;
}

/* div.hero {
    width: 100%;
    height: 1200px;
} */

/* .navbar-container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin: 0 auto;
    padding: 5%;
} */

.hero-container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin: 0 auto;
    padding: 5%;
}
  
.hero1,
.hero2,
.hero3 {
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 20px;
   
}
  
.hero1 {
    background-image: url(https://i.ibb.co/X8X6Jcb/mason-250-pexels-nappy-3063910.png);

}
  
.hero2 {
    background-image: url(https://i.ibb.co/TL6v1tc/mason-250-pexels-tina-bowie-938013.png);
}
  
.hero3 {
    background-image: url(https://i.ibb.co/CVkg6TH/mason-180-pexels-mikhail-nilov-7623822.png);
}

.image1 {
    background-image: url('https://i.ibb.co/hD4HXgV/mason-380-pexels-polina-tankilevitch-5234747.png');
}

.image2 {
    background-image: url('https://i.ibb.co/yQQmcZ3/pexels-christina-morillo-1181571.jpg');
}

.image3 {
    background-image: url('https://i.ibb.co/JkM8g6y/mason-325-pexels-picha-stock-3894378.png');
}

.image4 {
    background-image: url('https://i.ibb.co/ZB2gRQn/76.png');
}

.main-img {
    width: 700px;
    padding: 50px;
}

span.month {
    float: left;
    font-size: 18px;
    padding-left: 10%;
    padding-bottom: 10%;
}
  
span.views {
    float: right;
    font-size: 18px;
    padding-right: 10%;
    padding-bottom: 10%
}

.flip-card-recent {
    background-color: transparent;
    width: 200px;
    height: 200px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
}
  
.flip-card-back {
    transform: rotateY(180deg);
}
  
.flip-back {
    color: #3d0c02;
    font-family: Chathura;
    font-weight: bold;
    font-size: 24px;
    padding: 10% 10% 10% 10%;
}
  
button {
    border: none;
    background-color: white;
    color: #F13B84;
}

.footer box {
    display: grid;
    align-items: center;
    justify-content: center;
}
  
.copyright {
    text-align: center;
    font-size: 14px;
}
  
.copyright-box {
    display: flex;
    align-items: center;
    padding: 20px 200px;
    justify-content: center;
    margin-top: 700px;
}
  
  
@media(min-width: 200px) and (max-width: 400px) {
    .navbar .navbar-nav {
        font-size: 14px;
    }
    
      div.logo-img {
        width: 80%;
    }

    .logo {
        width: 750px;
    }
    
      img.nav-logo {
        width: 100%
    }

    .container-small-screen-content {
        display: block;
    }

    .container-lg-screen-content {
        display: none;
    }

    h1 {
        font-family: Forum;
        font-size: 24px;
        text-align: center;
    }
    
    h2,
    h3,
    h4 {
        text-align: center;
        font-family: Forum;
        font-weight: bold;
        padding-top: 10%;
    }
    
    p {
        padding: 2% 5%;
    }

    .hero-section {
        width: 100%;
        height: 100%;
    }

    .hero-container {
       width: auto;
    }

    div.hero-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 90%;
    }


    div.single-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10%;
    }

    .main-img {
        width: 450px;
        align-items: center;
        justify-content: center;
        margin-left: 6%;
    }

    img.post-img {
        width: 300px;
        height: 300px;;
    }

    .flip-card{
        width: 100%;
        background-color: transparent;
        width: 300px;
        height: 400px;
    }

    span.month {
        float: left;
        font-size: 18px;
        padding-left: 10%;
        padding-bottom: 10%;
    }
      
    span.views {
        float: right;
        font-size: 18px;
        padding-right: 10%;
        padding-bottom: 10%
    }
    
    .flip-card-recent {
        background-color: transparent;
        width: 200px;
        height: 200px;
    }
      
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
      
    .flip-card:hover, 
    .flip-card-inner {
        transform: rotateY(180deg);
    }
      
    .flip-card-front, 
    .flip-card-back {
        position: absolute;
        width: 100%;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-color: transparent;
        color: black;
    }
      
    .flip-card-back {
        background-color: transparent;
        color: black;
        transform: rotateY(180deg);
    }
      
    .flip-back {
        color: #3d0c02;
        font-family: Chathura;
        font-weight: bold;
        font-size: 24px;
        padding: 10% 10% 10% 10%;
    }
    

    .recent-posts {
        display: flex;
        flex-direction: column;
        color: black;
        margin: 5%;
    }     
}

@media(min-width: 401px) and (max-width: 800px) {
    .navbar .navbar-nav {
        font-size: 18px;
    }

    .container-small-screen-content {
        display: block;
    }

    .container-lg-screen-content {
        display: none;
    }

    /* .hero {
        width: 800px;
        height: 900px;
    }

    .hero-row {
        display: flex;
        width: 800px;
    } */
}

@media(min-width: 801px) and (max-width: 1200px) {
    .navbar .navbar-nav {
        font-size: 20px;
    }

      .container-small-screen-content {
        display: none;
    }

    .container-lg-screen-content {
        display: block;
    }

}

@media(min-width: 1201px) {

    .container-small-screen-content {
        display: none;
    }

    .container-lg-screen-content {
        display: block;
    }

}